astroid==2.5.1
atomicwrites==1.4.0
attrs==20.3.0
colorama==0.4.4
coverage==5.5
decorator==4.4.2
iniconfig==1.1.1
isort==5.7.0
lazy-object-proxy==1.5.2
mccabe==0.6.1
networkx==2.5
packaging==20.9
pluggy==0.13.1
py==1.10.0
pylint==2.7.2
pyparsing==2.4.7
pytest==6.2.2
pytest-cov==2.11.1
pytest-randomly==3.5.0
toml==0.10.2
wrapt==1.12.1
